**/.ipynb_checkpoints/**

Natural_Language_Processing
NotebooksSkriptsprachen/
Praktikum/Praktikum_04/german.dic
Praktikum/Praktikum_04/s01_buchstabenrätsel.ipynb
lecture_07/twitter-de_d100_w5_min10.bin
Praktikum/Praktikum_05/s01_buchstabenraetsel2.ipynb
